In [1]:
#Importing the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

In [2]:
data=pd.read_csv("Mall_Customers.csv")

In [3]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1  Female   36                 103                      85
1           2  Female   34                 103                      23
2           3  Female   32                 103                      69
3           4    Male   33                 113                       8
4           5  Female   38                 113                      91

In [4]:
data.corr()

,CustomerID,Age,Annual Income (k$),Spending Score (1-100)
CustomerID,1.000000,-0.039087,0.381820,0.016560
Age,-0.039087,1.000000,-0.020551,-0.284538
Annual Income (k$),0.381820,-0.020551,1.000000,0.005362
Spending Score (1-100),0.016560,-0.284538,0.005362,1.000000